.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
client/**
server/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
ext/**
!ext/moos-rs/target/debug/moos-ivp-language-server
!ext/moos-rs/target/release/moos-ivp-language-server
